*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
}

.section{
    display: flex;
    height: 100vh;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
    margin: 0 auto;
}

.container{
    width: 85%;
    height: 600px;
    display: flex;
    /* border: 1px solid black; */
    position: relative;
    background-color: white;
}

.image-title, .image-text{
    position: absolute;
    color: white;
    top: 20px;
    left: 130px;
}

.image-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-text{
    top: 60px;
    left: 80px;
}

.text2{
    top: 75px;
    left: 155px;
}

.right{
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    align-items: center;
    position: relative;
}

.right h1{
    margin-top: 50px;
    font-size: 60px;
    color: rgb(30, 158, 209);
}

.form{
    margin-top: 50px;
}

.form label{
    display: block;
    text-align: left;
}

.email{
    position: absolute;
    top: 200px;
    background-color: white;
    left: 70px;
}

.pass{
    position: absolute;
    top: 265px;
    background-color: white;
    left: 70px;
}

.form input{
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px 0;
    height: 40px;
    width: 250px;
    margin: 10px 0;
    border-color: rgb(30, 158, 209)
}

.right p{
    text-align: right;
    margin-top: 10px;
    color: rgb(30, 158, 209);
}

.right button{
    height: 50px;
    width: 100px;
    margin: 20px 0;
    background-color: rgb(30, 158, 209);
    border-style: none;
    border-radius: 5px;
    color: white;
}

.right span{
    position: absolute;
    top: 435px;
    left: 170px;
    background-color: white;
}

.icons{
    margin: 20px;
}

.icons img{
    margin: 0 10px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}

.right b{
    color: black;
}
